<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6" > <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7" > <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8" > <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9" > <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta content="black" name="apple-mobile-web-app-status-bar-style" />
  <meta content="telephone=no" name="format-detection" />
  <title>REST API docs</title>
  <style>
    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
    }
    body {
      display: flex;
      flex-direction: row;
    }
    body >nav {
      width: auto;
      padding-right: 20px;
      background-color: #fafafa;
    }
    body >nav ol {
      list-style: circle;
    }
    body >nav ol li {
      padding-bottom: 5px;
    }
    body >article {
      padding: 10px;
      flex: 1 auto;
    }

  </style>
</head>
<body>
  <nav>
    {{#mappings}}
      <h2>{{name}}</h2>
      <ol>
      {{#mapping}}
        <li><a href="{{base}}/{{index}}{{uri}}">{{uri}}</a>[{{method}}]</li>
      {{/mapping}}
      </ol>
    {{/mappings}}
  </nav>
  <article>
    {{#selected}}
    <h1>{{uri}}</h1>
    <hr/>
    <ul>
      <li>Request method: {{method}}</li>
      {{#comment}}<li>Description: {{comment}}</li>{{/comment}}
      <li>Check: {{validate}}</li>
      <li>Arguments:
        <ol>
          {{#args}}
          <li>{{name}} - type:{{type}}, {{required}} - {{comment}}</li>
          {{/args}}
        </ol>
      </li>
      {{#return}}
      <li>Return: {{return}}</li>
      {{/return}}
    </ul>
    {{/selected}}
  </article>
</body>
</html>
